:root {
  /* Light theme colors. */
  --sm-color-light-primary: 204, 204, 204, 1;
  --sm-color-light-secondary: 227, 227, 227, 1;
  --sm-color-light-animation-primary: color-mix(
    in srgb,
    #fff 15%,
    rgba(var(--sm-color-light-primary)) 85%
  );
  --sm-color-light-animation-secondary: color-mix(
    in srgb,
    #fff 15%,
    rgba(var(--sm-color-light-secondary)) 85%
  );

  /* Dark theme colors. */
  --sm-color-dark-primary: 37, 37, 37, 1;
  --sm-color-dark-secondary: 41, 41, 41, 1;
  --sm-color-dark-animation-primary: color-mix(
    in srgb,
    #fff 2%,
    rgba(var(--sm-color-dark-primary)) 98%
  );
  --sm-color-dark-animation-secondary: color-mix(
    in srgb,
    #fff 2%,
    rgba(var(--sm-color-dark-secondary)) 98%
  );

  /* Animations values. */
  --sm-animation-duration: 1.5s;
  --sm-animation-timing-function: linear;
  --sm-animation-iteration-count: infinite;
  --sm-animation-wave-background-position-x: -200%;
  --sm-animation-wave-reverse-background-position-x: 200%;
  --sm-animation-pulse-percentage-0: 1;
  --sm-animation-pulse-percentage-50: 0.6;
  --sm-animation-pulse-percentage-100: 1;

  /* Animations. */
  --sm-animation-none: none;
  --sm-animation-wave: --sm--animation-wave var(--sm-animation-duration)
    var(--sm-animation-timing-function) var(--sm-animation-iteration-count);
  --sm-animation-wave-reverse: --sm--animation-wave-reverse var(--sm-animation-duration)
    var(--sm-animation-timing-function) var(--sm-animation-iteration-count);
  --sm-animation-pulse: --sm--animation-pulse var(--sm-animation-duration)
    var(--sm-animation-timing-function) var(--sm-animation-iteration-count);
}

@keyframes --sm--animation-wave {
  to {
    background-position-x: var(--sm-animation-wave-background-position-x);
  }
}

@keyframes --sm--animation-wave-reverse {
  to {
    background-position-x: var(--sm-animation-wave-reverse-background-position-x);
  }
}

@keyframes --sm--animation-pulse {
  0% {
    opacity: var(--sm-animation-pulse-percentage-0);
  }
  50% {
    opacity: var(--sm-animation-pulse-percentage-50);
  }
  100% {
    opacity: var(--sm-animation-pulse-percentage-100);
  }
}
