.select-ctn {
  width: 100%;
  height: min-content;
  user-select: none;

  .select-header {
    width: 100%;
    height: min-content;
    display: flex;
    padding: 8px 16px;
    cursor: pointer;

    background-color: rgb(236 254 255);
    border-radius: 10px;
    border: 2px solid rgb(34 211 238);
    color: rgb(17 24 39);
    outline: none;

    &__content {
      flex-grow: 1;
      min-height: 24px;
      display: flex;
      align-items: center;
    }
    &__icon {
      padding-left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .select-body {
    width: 100%;
    position: relative;
  }
}

.options-ctn {
  max-height: 240px;
  width: 100%;

  overflow-y: auto;

  display: flex;
  flex-direction: column;

  position: absolute;
  top: 0;
  left: 0;


  &__header {
    height: min-content;
    width: 100%;

    background-color: rgb(240 253 250);
    padding: 0px 16px;

    position: sticky;
    top: 0;
  }

  &__list {
    width: calc(100%);
    flex-grow: 1;

    background-color: rgb(240 253 250);
    padding: 4px 0;
  }

  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

}

